.box {
    width: 1000px;
    padding: 40px 0 40px;
    border: solid 4px rgb(238,174,202);
    position: relative;
    border-radius: 20px;
    margin: 0 auto 50px auto;
    &_list {
      display: flex;
      flex-wrap: wrap;
     margin-right: -30px;
      column-gap: 20px;
      row-gap: 40px;
  
   
    }
  
    &_item {
      width: 300px;
      border-radius: 10px;
      border: solid 4px rgb(238,174,202);
      overflow: hidden;
    }
    &_text {
      color: #fff;
      padding-left: 20px;
      font-size: 20px;
      
    }
  }

  .thumb {
    position: relative;
    margin: 10px;
  
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
     
    &_status {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 8px 16px;
      border-bottom-left-radius: 4px;
  
      font-size: 18px;
  
      color: #fff;
    }
    &_box{
      overflow: hidden;
    }
    &_img{
      transition-property: transform;
      &:hover{
        transform: scale(1.5);
        transition-duration: 2000ms;
      }
    }



  }
 