@import url("https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap");
@import "bootstrap/dist/css/bootstrap.min.css";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: rgb(50,47,47);
  background: linear-gradient(318deg, rgba(50,47,47,1) 21%, rgba(0,0,0,1) 57%, rgba(33,24,24,0.8911939775910365) 100%);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}


  
  .pink-pagination .page-link {
    background-color: pink;
    color: white;
    border-color: pink;
  }
  
  .pink-pagination .page-item.active .page-link {
    background-color: white;
    color: pink;
    border-color: pink;
  }