
.search{
  text-align: -webkit-center;
  height: 50px;

  margin-bottom: 70px;

}

.div{

  display: grid;
  grid-template-columns: .5fr 1.5fr;

}
.loader{
  margin-left: auto;
  margin-right: auto;
  
}


