.box {
    
    width: 290px;
        padding: 20px 20px 34px;
        border: solid 4px rgb(238,174,202);
        position: relative;
        border-radius: 20px;
       
      
        &_text {
            color: #fff;
            padding-left: 20px;
            font-size: 24px;
            
          }
    
      }
      .select {
        width: 100%;
        min-width: 15ch;
        max-width: 30ch;
        border: 1px solid var(--select-border);
        border-radius: 0.25em;
        padding: 0.25em 0.5em;
        font-size: 1.25rem;
        cursor: pointer;
     
        line-height: 1.1;
        background-color: azure;
  color: rgb(238, 174, 202);
    
      }
     